<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><b><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</b></p>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mt-5">
    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
    <%= form.text_field :title, class: "form-control", "aria-label": "Sizing example input", "aria-describedby": "inputGroup-sizing-default" %>
  </div>

  <div class="input-group mt-3">
    <span class="input-group-text">Body</span>
    <%= form.text_area :body, rows: 6, class: "form-control", "aria-label": "With textarea" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary" do %>
    Update Post
    <% end %>
  </div>
<% end %>
